# Temp directories
tmp/

# Temp and Log files
*.tmp
*.log

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# NuGet Packages Directory
packages/

# Sublime Text
Sublime Text/**/*.pyc
Sublime Text/**/*.cache

Sublime Text/Data/Backup/
Sublime Text/Data/Pristine Packages/
Sublime Text/Data/Settings/*.sublime_session

Sublime Text/Data/Packages/*
!Sublime Text/Data/Packages/Git/
!Sublime Text/Data/Packages/Package Control/
!Sublime Text/Data/Packages/PowerShell/
!Sublime Text/Data/Packages/PowerShellUtils/
!Sublime Text/Data/Packages/REG/
!Sublime Text/Data/Packages/User/
Sublime Text/Data/Packages/User/Package Control.last-run