[submodule "Libraries/PowerShell Modules/Pester"]
	path = Libraries/PowerShell Modules/Pester
	url = https://github.com/pester/Pester
[submodule "Libraries/PowerShell Modules/posh-git"]
	path = Libraries/PowerShell Modules/posh-git
	url = https://github.com/dahlbyk/posh-git
[submodule "Libraries/PowerShell Modules/psake"]
	path = Libraries/PowerShell Modules/psake
	url = https://github.com/psake/psake
[submodule "Libraries/PowerShell Modules/Show-Ast"]
	path = Libraries/PowerShell Modules/Show-Ast
	url = https://github.com/lzybkr/ShowPSAst
[submodule "Libraries/PowerShell Modules/SnippetPx"]
	path = Libraries/PowerShell Modules/SnippetPx
	url = https://github.com/KirkMunro/SnippetPx
[submodule "Libraries/PowerShell Modules/TypePx"]
	path = Libraries/PowerShell Modules/TypePx
	url = https://github.com/KirkMunro/TypePx
[submodule "Libraries/PowerShell Modules/HistoryPx"]
	path = Libraries/PowerShell Modules/HistoryPx
	url = https://github.com/KirkMunro/HistoryPx
[submodule "Libraries/PowerShell Modules/DebugPx"]
	path = Libraries/PowerShell Modules/DebugPx
	url = https://github.com/KirkMunro/DebugPx
