[submodule "Libraries"]
	path = Libraries
	url = https://github.com/paulmarsy/ConsoleLibraries.git
[submodule "Install Files"]
	path = Install Files
	url = https://github.com/paulmarsy/ConsoleInstallFiles.git
