# Visual Studio Files
*.pdb
*.user
*.suo
*.vshost.exe
*.vshost.exe.manifest
**/obj/[Dd]ebug
**/obj/[Rr]elease
**/bin/[Dd]ebug
**/bin/[Rr]elease

# NuGet Packages Directory
packages/*
!packages/repositories.config

# General
*.log